@model fuzzyMEME.Models.MemeModel

@{
    ViewData["Title"] = "Details";
}

<h1>РЖАКА</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MemeBase)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MemeBase)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MemeExtra)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MemeExtra)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit damn meme</a> |
    <a asp-action="Index">Back to damn List</a>
</div>

@for (int i = 0; i < 50; i++)
{
    <hr />
}