@model IEnumerable<fuzzyMEME.Models.MemeModel>

@{
    ViewData["Title"] = "Meme viewer";
}
<p>
    <a asp-action="Create">Create mEME</a>
</p>

@if (Model.FirstOrDefault() is null)
{
    <h1 class="display-4 text-danger inverted">Bad meme search, try another one</h1>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MemeBase)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MemeExtra)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MemeBase)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MemeExtra)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
